.container{
  padding: 5px 60px;
  margin: 10px 120px;
  height: 25vh;
  border-radius: 6px;
  color: inherit;
  text-align: center;
}

.Head{
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat Serif', serif;
  margin-bottom:0px ;
}

.Head2{
  margin-bottom: 15px;
  margin-top: 12px;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 2px;
}

.cakeDisplay{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cake{
  margin: 8px 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 400px;
  text-align: center;
}

.cakeName{
  font-weight: bold;
  margin-bottom: 10px;
  padding:5px 10px;
}

.cake img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.cake .fadedbox {
  background-color: #666666;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 360px;
  height: 100px;
  padding: 250px 20px;
}
.cake:hover .fadedbox {
  opacity: 0.8;
}
.cake .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.cake .title {
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.cake:hover .title,
.cake:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}